{% extends "layout.html" %}

{% block body %}
    <h1>Practizr</h1>
    <p>Improve your guitar skills</p>

<form action="/addrow" method="post">
    <label for="dur">Duration in minutes:</label>
    <input type= "number" min=1 max=60 name="duration" id="dura">

    <label for="area">Area of expertise:</label>
    <select name="area" id="area">
        <option>Choose one</option>
        {% for item in area_list %}
            <option value="{{ item.lower() }}">{{ item }}</option>
        {% endfor %}
    </select>

    <label for="item">What to work on:</label>
    <select name="item" id="item">
        <!-- Write function to generate list based on area's value-->
        <option></option>
    </select>

    <label for="note">Note</label>
    <input type="text" name="note" id="note">

    <button type="submit">Add</button>
</form>
<table>
    <thead>
        <tr>
            <th>Duration</th>
            <th>Area</th>
            <th>Item</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
    {% for row in practice_table %}
        <tr>
            <td>{{row.duration}}</td>
            <td>{{row.area}}</td>
            <td>{{row.item}}</td>
            <td>{{row.note}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}